#earth {
  position: relative;
  width: 330px;
  height: 330px;
  margin: 4em auto;
  background: url(../images/earthmap.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 4s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;
}

#earth:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}

#earth:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 150px 150px, #fff, #000);
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}