<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="Album%20example%20for%20Bootstrap_files/album.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <br>
  <div id="weather-widget" align="center-align">
    <div class="weather-data">
      <center>
      <div id="weather-city">
        <h1  bottom: 15px>City: {{ city }}</h1>
      </div>
      <hr>
      <div id="weather-temp">
        Temperature: {{ temp }}°C
      </div>
      <hr>
      <div id="weather-description">
        Description: {{ description }}
      </div>
      <hr>
      <div id="wind-speed">
        Wind Speed: {{ wind }}
      </div>
    </center>
    </div>
  </div>
  <hr>
  <center>
  <div id='back'>
      <p><a href="../file:///home/pradyumna/Desktop/spring%20board/ignatious%20phoenix/index.html">Return to Main Page</a></p>
  </div>
</center>
</body>
</html>
